.root {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}
.rootcolor_violet {
  background: var(--token-CkHQi57I5kr);
}
.rootcolor_white {
  background: var(--token-iR8SeEwQZ);
}
.rootcolor_black {
  background: var(--token-wRTnrRwLX);
}
.rootcolor_pink {
  background: var(--token-nnaRFhY3Pqv);
}
.productLink:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox___6CgU0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__jnhJk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBoxshape_slim__jnhJkou1O6 {
  display: none;
}
.freeBox__quFXf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__quFXf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__quFXf > :global(.__wab_flex-container) > *,
.freeBox__quFXf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__quFXf > :global(.__wab_flex-container) > picture > img,
.freeBox__quFXf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__iyrSl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
.freeBox___0Rbu7 {
  background: var(--token-wRTnrRwLX);
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 90%;
  align-self: flex-start;
  padding: 2px 10px;
}
.productTextField__mGbo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.freeBox__d2N2A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  max-width: 100%;
  align-self: flex-end;
  background: var(--token-wRTnrRwLX);
  flex-shrink: 0;
  min-height: 0;
  padding: 0px;
}
.freeBoxhideWishlist__d2N2AwH8HG {
  display: none;
}
.root:hover .freeBox__d2N2A {
  background: none;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: var(--token-iR8SeEwQZ);
  flex-shrink: 0;
}
.rootcolor_white:hover .svgcolor_white {
  color: var(--token-wRTnrRwLX);
}
.freeBox___2TQRm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
.freeBox__rUo5 {
  background: var(--token-wRTnrRwLX);
  display: flex;
  position: relative;
  padding: 2px 10px;
}
.productPrice__ubw56:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 16px;
  max-width: 100%;
  position: relative;
  padding: 2px 10px;
}
.freeBox__jZyq1 {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__buJzR {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 0px;
  left: 0px;
  transition-property: transform;
  transition-duration: 0.3s;
  min-width: 0;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.3s;
  padding: 0px;
}
.root .freeBox__buJzR:hover {
  transform: scaleX(1.05) scaleY(1.05) scaleZ(1);
}
.rootimageUrl:hover .freeBoximageUrl__buJzRoOwy:hover {
  transform: none;
}
.productMedia__ww3I:global(.__wab_instance) {
  max-width: 100%;
}
.productMediaimageUrl__ww3IOOwy:global(.__wab_instance) {
  display: none;
}
.imageContainer {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  display: none;
  padding: 8px;
}
.imageContainerimageUrl {
  display: flex;
}
.freeBox__zWt4Q {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  display: none;
  padding: 8px;
}
.freeBoxshape_slim__zWt4QOu1O6 {
  display: flex;
  padding: 0px;
}
.freeBox__kXhSy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxshape_slim__kXhSyou1O6 {
  padding: 0px;
}
.productMedia__crkD3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__ob4GM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.productTextField:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  background: var(--token-wRTnrRwLX);
  color: var(--token-iR8SeEwQZ);
  padding: 2px 10px;
}
.productTextFieldcolor_black_shape_slim:global(.__wab_instance) {
  color: var(--token-wRTnrRwLX);
  background: var(--token-iR8SeEwQZ);
}
