@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-qgyMRMsfL2wHBI: var(--token-iR8SeEwQZ);
  --plasmic-token-primary: var(--token-qgyMRMsfL2wHBI);
  --token-B_AlCLHjxoSjlw: var(--token-wRTnrRwLX);
  --plasmic-token-secondary: var(--token-B_AlCLHjxoSjlw);
}

.plasmic_default_styles {
  --mixin-O7EDL56-vl-0_T_font-family: "Inter", sans-serif;
  --mixin-O7EDL56-vl-0_T_font-size: 16px;
  --mixin-O7EDL56-vl-0_T_font-weight: 400;
  --mixin-O7EDL56-vl-0_T_font-style: normal;
  --mixin-O7EDL56-vl-0_T_color: #535353;
  --mixin-O7EDL56-vl-0_T_text-align: left;
  --mixin-O7EDL56-vl-0_T_text-transform: none;
  --mixin-O7EDL56-vl-0_T_line-height: 1.5;
  --mixin-O7EDL56-vl-0_T_letter-spacing: normal;
  --mixin-O7EDL56-vl-0_T_white-space: pre-wrap;
  --mixin-O7EDL56-vl-0_T_user-select: text;
  --mixin-O7EDL56-vl-0_T_text-decoration-line: none;
  --mixin-O7EDL56-vl-0_T_text-overflow: clip;
  --mixin-IUoey4Pu1SK6iS_color: #000000;
  --mixin-IUoey4Pu1SK6iS_font-weight: 900;
  --mixin-IUoey4Pu1SK6iS_font-size: 72px;
  --mixin-IUoey4Pu1SK6iS_line-height: 1;
  --mixin-IUoey4Pu1SK6iS_letter-spacing: -4px;
  --mixin-IUoey4Pu1SK6iS_white-space: pre-wrap;
  --mixin-JwactPfqjB9Id4_font-family: "Inter", sans-serif;
  --mixin-JwactPfqjB9Id4_color: #000000;
  --mixin-JwactPfqjB9Id4_font-size: 48px;
  --mixin-JwactPfqjB9Id4_font-weight: 700;
  --mixin-JwactPfqjB9Id4_letter-spacing: -1px;
  --mixin-JwactPfqjB9Id4_line-height: 1.1;
  --mixin-JwactPfqjB9Id4_white-space: pre-wrap;
  --mixin-sHNWFNUwHaKJ3v_color: #0070f3;
  --mixin-sHNWFNUwHaKJ3v_white-space: pre-wrap;
  --mixin-Fzt1ArOddTq6lu_font-family: "Inter", sans-serif;
  --mixin-Fzt1ArOddTq6lu_color: #000000;
  --mixin-Fzt1ArOddTq6lu_font-size: 32px;
  --mixin-Fzt1ArOddTq6lu_font-weight: 600;
  --mixin-Fzt1ArOddTq6lu_letter-spacing: -0.8px;
  --mixin-Fzt1ArOddTq6lu_line-height: 1.2;
  --mixin-Fzt1ArOddTq6lu_white-space: pre-wrap;
  --mixin-JKYve7c1CWWcUD_font-family: "Inter", sans-serif;
  --mixin-JKYve7c1CWWcUD_color: #000000;
  --mixin-JKYve7c1CWWcUD_font-size: 24px;
  --mixin-JKYve7c1CWWcUD_font-weight: 600;
  --mixin-JKYve7c1CWWcUD_letter-spacing: -0.5px;
  --mixin-JKYve7c1CWWcUD_line-height: 1.3;
  --mixin-JKYve7c1CWWcUD_white-space: pre-wrap;
  --mixin-dT9hU4a4JmQAbI_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-dT9hU4a4JmQAbI_border-bottom-color: #dddddd;
  --mixin-dT9hU4a4JmQAbI_border-bottom-style: solid;
  --mixin-dT9hU4a4JmQAbI_border-bottom-width: 1px;
  --mixin-dT9hU4a4JmQAbI_border-left-color: #dddddd;
  --mixin-dT9hU4a4JmQAbI_border-left-style: solid;
  --mixin-dT9hU4a4JmQAbI_border-left-width: 1px;
  --mixin-dT9hU4a4JmQAbI_border-right-color: #dddddd;
  --mixin-dT9hU4a4JmQAbI_border-right-style: solid;
  --mixin-dT9hU4a4JmQAbI_border-right-width: 1px;
  --mixin-dT9hU4a4JmQAbI_border-top-color: #dddddd;
  --mixin-dT9hU4a4JmQAbI_border-top-style: solid;
  --mixin-dT9hU4a4JmQAbI_border-top-width: 1px;
  --mixin-dT9hU4a4JmQAbI_border-bottom-left-radius: 3px;
  --mixin-dT9hU4a4JmQAbI_border-bottom-right-radius: 3px;
  --mixin-dT9hU4a4JmQAbI_border-top-left-radius: 3px;
  --mixin-dT9hU4a4JmQAbI_border-top-right-radius: 3px;
  --mixin-dT9hU4a4JmQAbI_font-family: "Inconsolata";
  --mixin-dT9hU4a4JmQAbI_padding-bottom: 1px;
  --mixin-dT9hU4a4JmQAbI_padding-left: 4px;
  --mixin-dT9hU4a4JmQAbI_padding-right: 4px;
  --mixin-dT9hU4a4JmQAbI_padding-top: 1px;
  --mixin-dT9hU4a4JmQAbI_white-space: pre-wrap;
  --mixin-i3Y15bBjKKOEEk_border-left-color: #dddddd;
  --mixin-i3Y15bBjKKOEEk_border-left-style: solid;
  --mixin-i3Y15bBjKKOEEk_border-left-width: 3px;
  --mixin-i3Y15bBjKKOEEk_color: #888888;
  --mixin-i3Y15bBjKKOEEk_padding-left: 10px;
  --mixin-i3Y15bBjKKOEEk_white-space: pre-wrap;
  --mixin-KjZ2zJT6VBHQ7d_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-KjZ2zJT6VBHQ7d_border-bottom-color: #dddddd;
  --mixin-KjZ2zJT6VBHQ7d_border-bottom-style: solid;
  --mixin-KjZ2zJT6VBHQ7d_border-bottom-width: 1px;
  --mixin-KjZ2zJT6VBHQ7d_border-left-color: #dddddd;
  --mixin-KjZ2zJT6VBHQ7d_border-left-style: solid;
  --mixin-KjZ2zJT6VBHQ7d_border-left-width: 1px;
  --mixin-KjZ2zJT6VBHQ7d_border-right-color: #dddddd;
  --mixin-KjZ2zJT6VBHQ7d_border-right-style: solid;
  --mixin-KjZ2zJT6VBHQ7d_border-right-width: 1px;
  --mixin-KjZ2zJT6VBHQ7d_border-top-color: #dddddd;
  --mixin-KjZ2zJT6VBHQ7d_border-top-style: solid;
  --mixin-KjZ2zJT6VBHQ7d_border-top-width: 1px;
  --mixin-KjZ2zJT6VBHQ7d_border-bottom-left-radius: 3px;
  --mixin-KjZ2zJT6VBHQ7d_border-bottom-right-radius: 3px;
  --mixin-KjZ2zJT6VBHQ7d_border-top-left-radius: 3px;
  --mixin-KjZ2zJT6VBHQ7d_border-top-right-radius: 3px;
  --mixin-KjZ2zJT6VBHQ7d_font-family: "Inconsolata";
  --mixin-KjZ2zJT6VBHQ7d_padding-bottom: 3px;
  --mixin-KjZ2zJT6VBHQ7d_padding-left: 6px;
  --mixin-KjZ2zJT6VBHQ7d_padding-right: 6px;
  --mixin-KjZ2zJT6VBHQ7d_padding-top: 3px;
  --mixin-KjZ2zJT6VBHQ7d_white-space: pre-wrap;
  --mixin-r-oX31I-KwptNS_display: flex;
  --mixin-r-oX31I-KwptNS_flex-direction: column;
  --mixin-r-oX31I-KwptNS_align-items: stretch;
  --mixin-r-oX31I-KwptNS_justify-content: flex-start;
  --mixin-r-oX31I-KwptNS_list-style-position: outside;
  --mixin-r-oX31I-KwptNS_padding-left: 40px;
  --mixin-r-oX31I-KwptNS_position: relative;
  --mixin-r-oX31I-KwptNS_list-style-type: disc;
  --mixin-r-oX31I-KwptNS_white-space: pre-wrap;
  --mixin-blyfIVvYJvVBlS_display: flex;
  --mixin-blyfIVvYJvVBlS_flex-direction: column;
  --mixin-blyfIVvYJvVBlS_align-items: stretch;
  --mixin-blyfIVvYJvVBlS_justify-content: flex-start;
  --mixin-blyfIVvYJvVBlS_list-style-position: outside;
  --mixin-blyfIVvYJvVBlS_padding-left: 40px;
  --mixin-blyfIVvYJvVBlS_position: relative;
  --mixin-blyfIVvYJvVBlS_list-style-type: decimal;
  --mixin-blyfIVvYJvVBlS_white-space: pre-wrap;
  --mixin-JngW9mGlRUVADx_font-family: "Inter", sans-serif;
  --mixin-JngW9mGlRUVADx_color: #000000;
  --mixin-JngW9mGlRUVADx_font-size: 20px;
  --mixin-JngW9mGlRUVADx_font-weight: 600;
  --mixin-JngW9mGlRUVADx_letter-spacing: -0.3px;
  --mixin-JngW9mGlRUVADx_line-height: 1.5;
  --mixin-JngW9mGlRUVADx_white-space: pre-wrap;
  --mixin-v8tdVsDcAsEIbi_font-family: "Inter", sans-serif;
  --mixin-v8tdVsDcAsEIbi_color: #000000;
  --mixin-v8tdVsDcAsEIbi_font-size: 16px;
  --mixin-v8tdVsDcAsEIbi_font-weight: 600;
  --mixin-v8tdVsDcAsEIbi_line-height: 1.5;
  --mixin-v8tdVsDcAsEIbi_white-space: pre-wrap;
  --mixin-DJoSCgkT-iUztv_color: #3291ff;
  --mixin-DJoSCgkT-iUztv_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-O7EDL56-vl-0_T_font-family);
  font-size: var(--mixin-O7EDL56-vl-0_T_font-size);
  font-weight: var(--mixin-O7EDL56-vl-0_T_font-weight);
  font-style: var(--mixin-O7EDL56-vl-0_T_font-style);
  color: var(--mixin-O7EDL56-vl-0_T_color);
  text-align: var(--mixin-O7EDL56-vl-0_T_text-align);
  text-transform: var(--mixin-O7EDL56-vl-0_T_text-transform);
  line-height: var(--mixin-O7EDL56-vl-0_T_line-height);
  letter-spacing: var(--mixin-O7EDL56-vl-0_T_letter-spacing);
  white-space: var(--mixin-O7EDL56-vl-0_T_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-IUoey4Pu1SK6iS_color);
  font-weight: var(--mixin-IUoey4Pu1SK6iS_font-weight);
  font-size: var(--mixin-IUoey4Pu1SK6iS_font-size);
  line-height: var(--mixin-IUoey4Pu1SK6iS_line-height);
  letter-spacing: var(--mixin-IUoey4Pu1SK6iS_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-JwactPfqjB9Id4_font-family);
  color: var(--mixin-JwactPfqjB9Id4_color);
  font-size: var(--mixin-JwactPfqjB9Id4_font-size);
  font-weight: var(--mixin-JwactPfqjB9Id4_font-weight);
  letter-spacing: var(--mixin-JwactPfqjB9Id4_letter-spacing);
  line-height: var(--mixin-JwactPfqjB9Id4_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-sHNWFNUwHaKJ3v_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-Fzt1ArOddTq6lu_font-family);
  color: var(--mixin-Fzt1ArOddTq6lu_color);
  font-size: var(--mixin-Fzt1ArOddTq6lu_font-size);
  font-weight: var(--mixin-Fzt1ArOddTq6lu_font-weight);
  letter-spacing: var(--mixin-Fzt1ArOddTq6lu_letter-spacing);
  line-height: var(--mixin-Fzt1ArOddTq6lu_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-JKYve7c1CWWcUD_font-family);
  color: var(--mixin-JKYve7c1CWWcUD_color);
  font-size: var(--mixin-JKYve7c1CWWcUD_font-size);
  font-weight: var(--mixin-JKYve7c1CWWcUD_font-weight);
  letter-spacing: var(--mixin-JKYve7c1CWWcUD_letter-spacing);
  line-height: var(--mixin-JKYve7c1CWWcUD_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-dT9hU4a4JmQAbI_font-family);
  border-radius: var(--mixin-dT9hU4a4JmQAbI_border-top-left-radius)
    var(--mixin-dT9hU4a4JmQAbI_border-top-right-radius)
    var(--mixin-dT9hU4a4JmQAbI_border-bottom-right-radius)
    var(--mixin-dT9hU4a4JmQAbI_border-bottom-left-radius);
  padding: var(--mixin-dT9hU4a4JmQAbI_padding-top)
    var(--mixin-dT9hU4a4JmQAbI_padding-right)
    var(--mixin-dT9hU4a4JmQAbI_padding-bottom)
    var(--mixin-dT9hU4a4JmQAbI_padding-left);
  border-top: var(--mixin-dT9hU4a4JmQAbI_border-top-width)
    var(--mixin-dT9hU4a4JmQAbI_border-top-style)
    var(--mixin-dT9hU4a4JmQAbI_border-top-color);
  border-right: var(--mixin-dT9hU4a4JmQAbI_border-right-width)
    var(--mixin-dT9hU4a4JmQAbI_border-right-style)
    var(--mixin-dT9hU4a4JmQAbI_border-right-color);
  border-bottom: var(--mixin-dT9hU4a4JmQAbI_border-bottom-width)
    var(--mixin-dT9hU4a4JmQAbI_border-bottom-style)
    var(--mixin-dT9hU4a4JmQAbI_border-bottom-color);
  border-left: var(--mixin-dT9hU4a4JmQAbI_border-left-width)
    var(--mixin-dT9hU4a4JmQAbI_border-left-style)
    var(--mixin-dT9hU4a4JmQAbI_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-i3Y15bBjKKOEEk_color);
  padding-left: var(--mixin-i3Y15bBjKKOEEk_padding-left);
  border-left: var(--mixin-i3Y15bBjKKOEEk_border-left-width)
    var(--mixin-i3Y15bBjKKOEEk_border-left-style)
    var(--mixin-i3Y15bBjKKOEEk_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-KjZ2zJT6VBHQ7d_font-family);
  border-radius: var(--mixin-KjZ2zJT6VBHQ7d_border-top-left-radius)
    var(--mixin-KjZ2zJT6VBHQ7d_border-top-right-radius)
    var(--mixin-KjZ2zJT6VBHQ7d_border-bottom-right-radius)
    var(--mixin-KjZ2zJT6VBHQ7d_border-bottom-left-radius);
  padding: var(--mixin-KjZ2zJT6VBHQ7d_padding-top)
    var(--mixin-KjZ2zJT6VBHQ7d_padding-right)
    var(--mixin-KjZ2zJT6VBHQ7d_padding-bottom)
    var(--mixin-KjZ2zJT6VBHQ7d_padding-left);
  border-top: var(--mixin-KjZ2zJT6VBHQ7d_border-top-width)
    var(--mixin-KjZ2zJT6VBHQ7d_border-top-style)
    var(--mixin-KjZ2zJT6VBHQ7d_border-top-color);
  border-right: var(--mixin-KjZ2zJT6VBHQ7d_border-right-width)
    var(--mixin-KjZ2zJT6VBHQ7d_border-right-style)
    var(--mixin-KjZ2zJT6VBHQ7d_border-right-color);
  border-bottom: var(--mixin-KjZ2zJT6VBHQ7d_border-bottom-width)
    var(--mixin-KjZ2zJT6VBHQ7d_border-bottom-style)
    var(--mixin-KjZ2zJT6VBHQ7d_border-bottom-color);
  border-left: var(--mixin-KjZ2zJT6VBHQ7d_border-left-width)
    var(--mixin-KjZ2zJT6VBHQ7d_border-left-style)
    var(--mixin-KjZ2zJT6VBHQ7d_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-r-oX31I-KwptNS_display);
  flex-direction: var(--mixin-r-oX31I-KwptNS_flex-direction);
  align-items: var(--mixin-r-oX31I-KwptNS_align-items);
  justify-content: var(--mixin-r-oX31I-KwptNS_justify-content);
  list-style-position: var(--mixin-r-oX31I-KwptNS_list-style-position);
  padding-left: var(--mixin-r-oX31I-KwptNS_padding-left);
  position: var(--mixin-r-oX31I-KwptNS_position);
  list-style-type: var(--mixin-r-oX31I-KwptNS_list-style-type);
  flex-column-gap: var(--mixin-r-oX31I-KwptNS_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-blyfIVvYJvVBlS_display);
  flex-direction: var(--mixin-blyfIVvYJvVBlS_flex-direction);
  align-items: var(--mixin-blyfIVvYJvVBlS_align-items);
  justify-content: var(--mixin-blyfIVvYJvVBlS_justify-content);
  list-style-position: var(--mixin-blyfIVvYJvVBlS_list-style-position);
  padding-left: var(--mixin-blyfIVvYJvVBlS_padding-left);
  position: var(--mixin-blyfIVvYJvVBlS_position);
  list-style-type: var(--mixin-blyfIVvYJvVBlS_list-style-type);
  flex-column-gap: var(--mixin-blyfIVvYJvVBlS_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-JngW9mGlRUVADx_font-family);
  color: var(--mixin-JngW9mGlRUVADx_color);
  font-size: var(--mixin-JngW9mGlRUVADx_font-size);
  font-weight: var(--mixin-JngW9mGlRUVADx_font-weight);
  letter-spacing: var(--mixin-JngW9mGlRUVADx_letter-spacing);
  line-height: var(--mixin-JngW9mGlRUVADx_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-v8tdVsDcAsEIbi_font-family);
  color: var(--mixin-v8tdVsDcAsEIbi_color);
  font-size: var(--mixin-v8tdVsDcAsEIbi_font-size);
  font-weight: var(--mixin-v8tdVsDcAsEIbi_font-weight);
  line-height: var(--mixin-v8tdVsDcAsEIbi_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-DJoSCgkT-iUztv_color);
}
