.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 768px) {
  .root {
    justify-content: flex-start;
    align-items: center;
  }
}
.freeBox__e4AIf {
  display: block;
  position: absolute;
  width: 66.6%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 768px) {
  .freeBox__e4AIf {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBoxlayout_b__e4AIfOHjW {
  width: 33.4%;
  height: 50%;
}
@media (max-width: 768px) {
  .freeBoxlayout_b__e4AIfOHjW {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox__jw7E {
  display: block;
  position: absolute;
  width: 33.5%;
  height: 50%;
  max-width: 100%;
  top: 0px;
  right: 0%;
  padding: 0px;
}
@media (max-width: 768px) {
  .freeBox__jw7E {
    width: 100%;
    height: 100%;
    position: relative;
    top: auto;
    right: auto;
    min-width: 0;
    min-height: 0;
  }
}
.freeBoxlayout_b__jw7EoHjW {
  left: 0%;
  top: 50%;
}
@media (max-width: 768px) {
  .freeBoxlayout_b__jw7EoHjW {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
  }
}
.freeBox__ckmk4 {
  display: block;
  position: absolute;
  width: 33.5%;
  height: 50%;
  max-width: 100%;
  left: auto;
  top: 50%;
  right: 0px;
  padding: 0px;
}
@media (max-width: 768px) {
  .freeBox__ckmk4 {
    width: 100%;
    height: 100%;
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    min-width: 0;
    min-height: 0;
  }
}
.freeBoxlayout_b__ckmk4OHjW {
  width: 66.6%;
  height: 100%;
  top: 0%;
  min-height: 0;
}
@media (max-width: 768px) {
  .freeBoxlayout_b__ckmk4OHjW {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
