.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(var(--token-wRTnrRwLX), var(--token-wRTnrRwLX)),
    #ffffff;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 2;
}
.productBox:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.columns {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
@media (max-width: 768px) {
  .columns {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__z6NTw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 20px 8px 8px;
}
.productSlider:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__v3T1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-3kYc4IFNxWQ);
  min-width: 0;
  padding: 8px;
}
.productMedia__rsTs:global(.__wab_instance) {
  max-width: 100%;
  height: 600px;
  flex-shrink: 0;
}
.freeBox__o8AR4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  background: var(--token-rv5GUS0f6RK);
  cursor: pointer;
  min-width: 0;
  padding: 0px;
}
.productMedia__lIXxP:global(.__wab_instance) {
  max-width: 100%;
}
.column__imXp0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 25px 0px 0px;
}
.column__imXp0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.column__imXp0 > :global(.__wab_flex-container) > *,
.column__imXp0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__imXp0 > :global(.__wab_flex-container) > picture > img,
.column__imXp0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.h3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-qgyMRMsfL2wHBI);
  margin-top: calc(30px + 32px) !important;
  min-width: 0;
  padding: 8px;
}
.productTextField__r3Iqv:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__tDxOt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-qgyMRMsfL2wHBI);
  text-align: justify;
}
.productVariantPicker:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  height: 3rem;
  color: var(--token-qgyMRMsfL2wHBI);
  background: var(--token-B_AlCLHjxoSjlw);
  min-width: 0;
  flex-shrink: 0;
}
.addToCartButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__eugBi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__oLqHs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.collapse__eVxK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.collapse__b05LH:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 40px;
}
