.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(var(--token-wRTnrRwLX), var(--token-wRTnrRwLX)),
    #ffffff;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 2;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 2 / 12);
}
.columns > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 8 / 12);
}
.columns > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 2 / 12);
}
@media (max-width: 768px) {
  .columns {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___3Edjs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 35px 8px 8px;
}
.column___3Edjs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column___3Edjs > :global(.__wab_flex-container) > *,
.column___3Edjs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___3Edjs > :global(.__wab_flex-container) > picture > img,
.column___3Edjs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .column___3Edjs > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
  }
}
.freeBox__ixUm6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__ixUm6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__ixUm6 > :global(.__wab_flex-container) > *,
.freeBox__ixUm6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ixUm6 > :global(.__wab_flex-container) > picture > img,
.freeBox__ixUm6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.h4__xgsEh {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-iR8SeEwQZ);
}
.categoryCollection:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  max-width: 100%;
  position: relative;
  width: 100%;
  text-align: left;
  min-width: 0;
  padding: 0px;
}
.navItem__dtyyx:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  position: relative;
  left: auto;
  top: auto;
}
.categoryLink:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.categoryField:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  text-align: left;
  min-width: 0;
}
.text__btIb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___7HZb3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__z0GlQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productCollection:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 8px;
}
.productCard:global(.__wab_instance) {
  max-width: 100%;
  height: 300px;
}
.productTextField:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 10px;
}
.productPrice:global(.__wab_instance) {
  color: var(--token-iR8SeEwQZ);
  background: var(--token-wRTnrRwLX);
  font-weight: 700;
  font-size: 10px;
  max-width: 100%;
  position: relative;
  padding: 2px 10px;
}
.text__zscxB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__mh7Pw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__acOqN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 35px 8px 8px;
}
.freeBox__e16th {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__e16th > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__e16th > :global(.__wab_flex-container) > *,
.freeBox__e16th > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e16th > :global(.__wab_flex-container) > picture > img,
.freeBox__e16th
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.h4__hRxmm {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-iR8SeEwQZ);
}
.freeBox__j7Xr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__j7Xr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__j7Xr > :global(.__wab_flex-container) > *,
.freeBox__j7Xr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j7Xr > :global(.__wab_flex-container) > picture > img,
.freeBox__j7Xr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.navItem___9A6K5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.navItem___9KPlk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.navItem__uf2MA:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.navItem___6Nkft:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 40px;
}
