.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.root:hover {
  transform: scaleX(1.1) scaleY(1.1) scaleZ(1.1);
  transform-style: preserve-3d;
}
.root:hover * {
  transform-style: preserve-3d;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: var(--token-iR8SeEwQZ);
  flex-shrink: 0;
}
.root:hover .svg {
  box-shadow: 0px 4px 16px 0px #0000001a;
  color: var(--token-qKhMu66CwSx);
}
.cart:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  color: var(--token-B_AlCLHjxoSjlw);
  background: var(--token-qgyMRMsfL2wHBI);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  left: -15px;
  bottom: -10px;
  flex-shrink: 0;
  border-radius: 50%;
}
