.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  background: var(--token-wRTnrRwLX);
  min-width: 0;
  padding: 20px 20px 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 20px;
}
.freeBox__z5Tn9 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__z5Tn9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__z5Tn9 > :global(.__wab_flex-container) > *,
.freeBox__z5Tn9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z5Tn9 > :global(.__wab_flex-container) > picture > img,
.freeBox__z5Tn9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.link {
  display: flex;
}
.svg__ggEbK {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  flex-shrink: 0;
}
.root .svg__ggEbK:hover {
  transform: scaleX(1.05) scaleY(1.05) scaleZ(1);
  box-shadow: 0px 4px 16px 0px #0000001a;
}
.categoryLink__lBe7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 768px) {
  .categoryLink__lBe7:global(.__wab_instance) {
    display: flex;
  }
}
.navItem__qe21M:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.categoryCollection:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  max-width: 100%;
  position: relative;
  padding: 8px;
}
.navItem___7LEpw:global(.__wab_instance) {
  max-width: 100%;
}
.categoryLink__nm9M6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.categoryField:global(.__wab_instance) {
  max-width: 100%;
}
.text__zNMj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__qkYjt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  max-width: 40%;
}
@media (max-width: 768px) {
  .textInput:global(.__wab_instance) {
    display: none;
  }
}
.svg__vArk8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__ikgQy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  height: 1em;
}
.freeBox__ceQ1P {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  padding: 8px;
}
.freeBox__ceQ1P > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__ceQ1P > :global(.__wab_flex-container) > *,
.freeBox__ceQ1P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ceQ1P > :global(.__wab_flex-container) > picture > img,
.freeBox__ceQ1P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.cart:global(.__wab_instance) {
  width: auto;
}
.svg__su02Z {
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: var(--token-iR8SeEwQZ);
  flex-shrink: 0;
}
.root .svg__su02Z:hover {
  transform: scaleX(1.1) scaleY(1.1) scaleZ(1);
  box-shadow: 0px 4px 16px 0px #0000001a;
  color: var(--token-qKhMu66CwSx);
}
.freeBox__w7JIn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  max-width: 100%;
  background: linear-gradient(50deg, #608bae 0%, #a6a5b4 47%, #f2d599 100%);
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
.root .freeBox__w7JIn:hover {
  transform: scaleX(1.1) scaleY(1.1) scaleZ(1);
  border: 2px solid var(--token-iR8SeEwQZ);
}
