.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  border-bottom: 1px solid var(--token-fVn5vRhXJxQ);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.freeBox__yMb9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__ecm7R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  color: var(--token-fVn5vRhXJxQ);
  flex-shrink: 0;
}
.svgisOpen__ecm7RzR2R {
  transform: none;
}
.freeBox__wrbdN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetTitle {
  font-size: 1rem;
  color: var(--token-qgyMRMsfL2wHBI);
}
.freeBox__qNkQ2 {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBoxisOpen__qNkQ2ZR2R {
  display: flex;
}
.freeBox__vhiMn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBoxisOpen__vhiMNzR2R {
  align-self: flex-start;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  display: flex;
  padding: 0px;
}
.svg__rS0S {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  color: var(--token-fVn5vRhXJxQ);
  flex-shrink: 0;
}
.svgisOpen__rS0SzR2R {
  transform: none;
  display: none;
}
.freeBox__cYyja {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetContent {
  color: var(--token-qgyMRMsfL2wHBI);
}
